.table{
  max-width: 650px;
  position: relative;
  margin: 0 auto;
}
tbody{
  tr{
    cursor: pointer;
    &:nth-child(even){
      background: #eee;
    }
  }
}
.grid{
  display: table;
  margin-left: auto;
}
.title{
  font-size: 22px;
  font-weight: 600;
}
.item{
  padding: 20px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}